<!-- Header -->

    <header id="header">
      <div class="container">
        <a href="#">
          <img
            src="/asset/Logo.png"
            class="brand"
            alt="Logo"
            width="80"
            height="auto"
          />
        </a>
        <nav>
          <a class="nav-link" href="/index.html">Home</a>
          <a class="nav-link" href="/deraedge-firm/index.html">The Firm</a>
          <a class="nav-link" href="/deraedege-academy/index.html">Academy</a>
          <a class="nav-link" href="/deraedge-partnership/index.html">Partnership</a>
          <a class="nav-link" href="/deraedge-contact/index.html">Contact</a>
          <a class="btn-outline-gold" href="/deraedge-enroll/index.html">Enroll</a>
        </nav>
      </div>
    </header>